<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>navbar}}

    <!-- <-------------main main-header-------->
    <div class="containter-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/img4.jpg" alt="Weather" class="img-fluid" title="Seth Shobhit">
                        </figure>
                    </div>
                   
                    <!-- right div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>About Us</p>
                        <h1>Test website and also you can check <span class="text_color"> weather in your city </span></h1>
                        <a href="/weather"><button>For More</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}


</body>

</html>